.main{
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }

  tr:first-child{
    color:grey;
  }
  th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 10px;
  }

  th {
    background-color: #f2f2f2;
  }

  tr:hover {
    background-color: #f5f5f5;
  }

 /* Pagination container styles */
nav {
    text-align: center;
    margin-top: 20px;
  }
  
  /* Pagination list styles */
  ul.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
  }
  
  /* Pagination item styles */
  li.pageItem {
    display: inline;
    margin: 0 5px;
  }
  
  /* Pagination link styles */
  a.pageLink {
    text-decoration: none;
    padding: 10px 15px;
    border: 1px solid #3498db; /* Border color */
    color: #3498db; /* Text color */
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  a.pageLink:hover {
    background-color: #3498db; /* Hover background color */
    color: #fff; /* Hover text color */
  }
  
  /* Active page styles */
  li.pageItem.active a.pageLink {
    background-color: #3498db; /* Active background color */
    color: #fff; /* Active text color */
    border: 1px solid #3498db;
    cursor: default;
  }
  
  /* Previous and Next button styles */
  a.pageLink.prevNext {
    font-weight: bold;
  }
  
  /* Disabled button styles */
  a.pageLink.disabled {
    pointer-events: none;
    opacity: 0.5;
  }
  